{% extends 'hotels/web/template.html' %}
{% block title %}Activities{% endblock %}

{% block active_menu %}
<!--start menu -->
<ul class="menu">
	<li><a href="index">hotel</a></li>
	<li><a href="rooms">rooms & suits</a></li>
	<li><a href="reservation">reservation</a></li>
	<li class="active"><a href="activities">activities</a></li>
	<li><a href="contact">contact</a></li>
	<div class="clear"></div>
</ul>
{% endblock %}

{% block content %}
<!--start main -->
<div class="main_bg">
<div class="wrap">
	<div class="main">
<!-- start main_content -->
				<ul class="service_list">
					<li>
						<div class="ser_img">
							<a href="details.html">
								<img src="../../../static/images/ser_pic1.jpg" alt="" />
								<span class="next"> </span>
							</a>
						</div>	
						<a href="details.html"><h3>Sed condimentum</h3></a>
						<p class="para">There are many variations of passages of Lorem Ipsum available,</p>
						<h4><a  href="details.html">Lorem ipsum</a></h4>
					</li>
					<li>
						<div class="ser_img">
							<a href="details.html">
								<img src="../../../static/images/ser_pic2.jpg" alt="" />
								<span class="next"> </span>
							</a>
						</div>	
						<a href="details.html"><h3>Integer facilisis</h3></a>
						 <p class="para">Our website design and development provides quality web,</p>
						 <h4><a href="details.html">Nulla accumsan</a></h4>
					</li>
					<li>
						<div class="ser_img">
							<a href="details.html">
								<img src="../../../static/images/ser_pic3.jpg" alt="" />
								<span class="next"> </span>
							</a>
						</div>						
						 <a href="details.html"><h3>Morbi sit amet mauris</h3></a>
						 <p class="para">There are many variations of passages of Lorem Ipsum available,</p>
						 <h4><a href="details.html">Vestilum feliing</a></h4>
					</li>
					<li>
						<div class="ser_img">
							<a href="details.html">
								<img src="../../../static/images/ser_pic4.jpg" alt="" />
								<span class="next"> </span>
							</a>
						</div>						
						<a href="details.html"><h3>Nulla commodo erat</h3></a>
						 <p class="para">Lorem ipsum dolor sit amet, consectetur elit,EIUSMOD tempor,</p>
						 <h4><a href="details.html">Nulla commodo</a></h4>
					</li>
					<div class="clear"></div>
				</ul>
				<ul class="service_list top">
					<li>
						<div class="ser_img">
							<a href="details.html">
								<img src="../../../static/images/ser_pic5.jpg" alt="" />
								<span class="next"> </span>
							</a>
						</div>						
						 <a href="details.html"><h3>Nulla commodo erat</h3></a>
						 <p class="para">There are many variations of passages of Lorem Ipsum available,</p>
						<h4><a  href="details.html">Lorem ipsum</a></h4>
					</li>
					<li>
						<div class="ser_img">
							<a href="details.html">
								<img src="../../../static/images/ser_pic6.jpg" alt="" />
								<span class="next"> </span>
							</a>
						</div>						
						 <a href="details.html"><h3>Morbi sit amet mauris</h3></a>
						 <p class="para">Lorem ipsum dolor sit amet, consectetur elit,EIUSMOD tempor,</p>
						 <h4><a href="details.html">Nulla accumsan</a></h4>
					</li>
					<li>
						<div class="ser_img">
							<a href="details.html">
								<img src="../../../static/images/ser_pic7.jpg" alt="" />
								<span class="next"> </span>
							</a>
						</div>	
						 <a href="details.html"><h3>Integer facilisis</h3></a>
						<p class="para">There are many variations of passages of Lorem Ipsum available,</p>
						<h4><a href="details.html">Vestilum feliing</a></h4>
											
					</li>
					<li>
						<div class="ser_img">
							<a href="details.html">
								<img src="../../../static/images/ser_pic8.jpg" alt="" />
								<span class="next"> </span>
							</a>
						</div>		
						 <a href="details.html"><h3>Sed condimentum</h3></a>
						 <p class="para">Our website design and development provides quality web,</p>
						<h4><a  href="details.html">Lorem ipsum</a></h4>
					</li>
					<div class="clear"></div>
				</ul>
		<div class="clear"></div>
	<!-- end main_content -->

	</div>
</div>
</div>		
<!--start main -->
{% endblock %}