{% load static %}

<!DOCTYPE HTML>
<html>
<head>
<title>{% block title %} {% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<script src="{% static 'js/jquery.min.js' %}"></script>
<!--start slider -->
<link rel="stylesheet" href="{% static 'css/fwslider.css' %}" media="all">
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/css3-mediaqueries.js' %}"></script>
<script src="{% static 'js/fwslider.js ' %}"></script>
<!--end slider -->
<!---strat-date-piker---->
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />
<script src="{% static 'js/jquery-ui.js' %}"></script>
		<script>
				$(function() {
					$( "#datepicker,#datepicker1" ).datepicker();
				});
		</script>
<!---/End-date-piker---->
<!-- <link type="text/css" rel="stylesheet" href="{% static 'css/JFGrid.css' %}" /> -->
<link type="text/css" rel="stylesheet" href="{% static 'css/JFFormStyle-1.css' %}" />
		<script type="text/javascript" src="{% static 'js/JFCore.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/JFForms.js' %}"></script>
		<!-- Set here the key for your domain in order to hide the watermark on the web server -->
		<script type="text/javascript">
			(function() {
				JC.init({
					domainKey: ''
				});
				})();
		</script>
<!--nav-->
<script>
		$(function() {
			var pull 		= $('#pull');
				menu 		= $('nav ul');
				menuHeight	= menu.height();

			$(pull).on('click', function(e) {
				e.preventDefault();
				menu.slideToggle();
			});

			$(window).resize(function(){
				var w = $(window).width();
				if(w > 320 && menu.is(':hidden')) {
					menu.removeAttr('style');
				}
			});
		});
</script>
</head>
<body>
<!-- start header -->
<div class="header_bg">
<div class="wrap">
	<div class="header">
		<div class="logo">
			<a href="index"><img src="../../../static/images/logo.png" alt=""></a>
		</div>
		<div class="h_right">
			<!--start menu -->
			{% block active_menu %}  {% endblock %}
			<!-- start profile_details -->
					<form class="style-1 drp_dwn">
						<div class="row">
							<div class="grid_3 columns">
								<select class="custom-select" id="select-1">
									<option selected="selected">EN</option>
									<option>USA</option>
									<option>AUS</option>
									<option>UK</option>
									<option>IND</option>
								</select>
							</div>		
						</div>		
					</form>
		</div>
		<div class="clear"></div>
		<div class="top-nav">
		<nav class="clearfix">
				<ul>
				<li class="active"><a href="index">hotel</a></li> 
				<li><a href="rooms">rooms & suits</a></li> 
				<li><a href="reservation">reservation</a></li> 
				<li><a href="activities">activities</a></li> 
				<li><a href="contact">contact</a></li>
				</ul>
				<a href="#" id="pull">Menu</a>
			</nav>
		</div>
	</div>
</div>
</div>
<!----start-images-slider---->
		<div class="images-slider">
			<!-- start slider -->
			<div id="fwslider">
				<div class="slider_container">
					<div class="slide"> 
						<!-- Slide image -->
							<img src="../../../static/images/slider-bg.jpg" alt=""/>
						<!-- /Slide image -->
						<!-- Texts container -->
						<div class="slide_content">
							<div class="slide_content_wrap">
								<!-- Text title -->
								<h4 class="title"><i class="bg"></i>Lorem Ipsum is simply <span class="hide">dummy text</span></h4>
								<h5 class="title1"><i class="bg"></i>Morbi justo <span class="hide" >condimentum accumsan</span></h5>
								<!-- /Text title -->
							</div>
						</div>
						<!-- /Texts container -->
					</div>
					<!-- /Duplicate to create more slides -->
					<div class="slide">
						<img src="../../../static/images/slider-bg.jpg" alt=""/>
						<div class="slide_content">
							<div class="slide_content_wrap">
								<!-- Text title -->
								<h4 class="title"><i class="bg"></i>Morbi justo <span class="hide"> condimentum </span>text</h4>
								<h5 class="title1"><i class="bg"></i>Lorem Ipsum is <span class="hide">simply dummy text</span> </h5>
								<!-- /Text title -->
							</div>
						</div>
					</div>
					<!--/slide -->
				</div>
				<div class="timers"> </div>
				<div class="slidePrev"><span> </span></div>
				<div class="slideNext"><span> </span></div>
			</div>
			<!--/slider -->
		</div>

{% block content %}  {% endblock %}


<!--start main -->
<div class="footer_bg">
<div class="wrap">
<div class="footer">
			<div class="copy">
				<p class="link"><span>© All rights reserved Jakha921</a></span></p>
			</div>
			<div class="f_nav">
				<ul>
					<li><a href="index">home</a></li>
					<li><a href="rooms">rooms & suits</a></li>
					<li><a href="reservation">reservation</a></li>
					<li><a href="contact">Contact</a></li>
				</ul>
			</div>
			<div class="soc_icons">
				<ul>
					<li><a class="icon1" href="#"></a></li>
					<li><a class="icon2" href="#"></a></li>
					<li><a class="icon3" href="#"></a></li>
					<li><a class="icon4" href="#"></a></li>
					<li><a class="icon5" href="#"></a></li>
					<div class="clear"></div>
				</ul>	
			</div>
			<div class="clear"></div>
</div>
</div>
</div>		

<!-- js -->
<script src="https://unpkg.com/vue@next"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{% static 'js/vue.js' %}"></script>

</body>
</html>